.main{
    width: 500px;
    background: linear-gradient(rgb(94, 240, 194),rgba(42, 42, 204, 0.918),rgba(111, 63, 174, 0.749));
    margin: auto;
    padding: 40px;
    border: 1px solid;
    border-radius: 10px;
}
.luc{
   
    margin-top: 30px;
    margin-left: 40px;

}
input{
    padding-left: 30px;
    border-radius: 40px;
    border: none;
    height: 50px;
    width: 280px;
}

::placeholder{
    /* padding-left: 20px; */
    font-size: 20px;
}
.search{
    cursor: pointer;
}
.second{
    display: none;
}
